<%- include('./partials/head.ejs') %>


<main>
    <h1>Now Editing: <%= recipe.name %></h1>

<form class="mb-3" action="/book/<%= recipe.category%>/<%= recipe.id %>?_method=PUT" method="POST">
    <div>
        Name: <input class="form-control" type="text" name="name" id="name" value="<%= recipe.name %>"><br>
    </div>
    <div>
        Category: <br>
        <input class="form-check-input" type="radio" name="category" id="current" value="<%=recipe.category %>" checked>
        <label for="current">Currently: <%= recipe.category %></label><br>
        <input class="form-check-input" type="radio" name="category" id="entrees" value="entrees">
        <label for="entrees">Entrees</label><br>
        <input class="form-check-input" type="radio" name="category" id="sidesAndApps" value="sidesAndApps">
        <label for="sidesAndApps">Sides and Appetizers</label><br>
        <input class="form-check-input" type="radio" name="category" id="breakfast" value="breakfast">
        <label for="breakfast">Breakfast</label><br>
        <input class="form-check-input" type="radio" name="category" id="treats" value="treats">
        <label for="treats">Treats</label><br>
        <input class="form-check-input" type="radio" name="category" id="misc" value="misc">
        <label for="misc">Misc</label><br>
    </div><br>

    <div id="ingredients">
        Ingredients: <br>
        <% for(let i = 0; i < recipe.ingredients.length; i++) { %>
            <input class="form-control" type="text" name="ingredients" id="ingredients" value="<%= recipe.ingredients[i] %>">
        <% } %>
    </div>
    <button type="button" id="addIngredient" onclick="addIngredient()">Add Ingredient</button><br><br>

    <div id="steps">
        Instructions: <br>
        <% for(let i = 0; i < recipe.steps.length; i++) { %>
            <input class="form-control" type="text" name="steps" id="steps" value="<%= recipe.steps[i] %>">
            <% } %>
    </div>
    <button type="button" id="addStep">Add Step</button><br><br>

    <div id="images">
        Images: <br>
        <% for(let i = 0; i < recipe.images.length; i++) { %>
            <input class="form-control" type="text" name="images" id="images" value="<%= recipe.images[i]%>">           
            <img class="images" src="<%= recipe.images[i] %>" alt="image of <%= recipe.name %>"><br><br>
        <% } %>
    </div>
    <button type="button" id="addImage">Add URL</button><br><br>

    <div id="tags">
        Tags: <br>
        <% for(let i = 0; i < recipe.tags.length; i++) { %>
            <input class="form-control" type="text" name="tags" id="tags" value="<%= recipe.tags[i] %>">
        <% } %>
    </div>
    <button type="button" id="addTag">Add Tag</button><br><br>

    <div><input type="submit" value="Update Recipe"></div>
    
</form>

</main>

<%- include('./partials/footer.ejs') %>
</body>
</html>
