<%- include('./partials/head.ejs') %>

<div  id="kitchenBackground"> -
</div>

<main>

<h1>My Cookbook</h1>

<div class="browse">
<% for(let i = recipes.length - 1; i >= 0; i--) { %>
    <div>
        <h5><a href="/book/<%= recipes[i].category %>/<%= recipes[i].id %>"><%= recipes[i].name %></a></h5>
        <img src="<%= recipes[i].images[0] %>" alt="image of <%= recipes[i].name %>">
    </div>
<% } %>
</div>
</main>

<%- include('./partials/footer.ejs') %>
</body>
</html>
