<%- include('./partials/head.ejs') %>

    <main class="showRecipe">
        <div class="recipeList">
            <h1>
                <%= recipe.name %>
            </h1><br><br>
            <ul>
                <strong>Ingredients:</strong>
                <% for(let i=0; i < recipe.ingredients.length; i++) { %>
                    <li>
                        <%= recipe.ingredients[i] %>
                    </li>
                    <% } %>
            </ul>

            <ol>
                <strong>Instructions:</strong>
                <% for(let i=0; i < recipe.steps.length; i++) { %>
                    <li>
                        <%= recipe.steps[i] %>
                    </li>
                    <% } %>
            </ol><br>
            <a href="/book/<%= recipe.category %>/<%= recipe.id %>/edit">Edit this Recipe</a><br><br>
            <form action="/book/<%=recipe.category%>/<%=recipe.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete this Recipe">
            </form><br>
        </div>

        <div>
            <div id="pictures">
                <% for(let i=0; i < recipe.images.length; i++) { %>
                    <img src="<%= recipe.images[i] %>" alt="image of <%= recipe.name %>" class="recipePic">
                    <% } %>
            </div>
                    <ul>
                        Tags:
                        <% for(let i=0; i < recipe.tags.length; i++) { %>
                            <li>
                                <%= recipe.tags[i] %>
                            </li>
                            <% } %>
                    </ul>
        </div>

    </main>

    <%- include('./partials/footer.ejs') %>
        </body>

        </html>
        