<%- include('../partials/head.ejs') %>


<main>
    <h1>Edit My Shopping List</h1>

    <form action="/list/edit/<%= items.id %>?_method=PUT" method="POST">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Quantity</th>
                <th scope="col">Measurement</th>
                <th scope="col">Item</th>
            </tr>
        </thead>
        <tbody id="shoppingListTable">
            <% for(let i = 0; i < items.item.length; i++) { %>
                <tr id="<%= i %>">
                    <td><input type="text" name="quantity" value="<%= items.quantity[i] %>"></td>
                    <td><input type="text" name="measurement" value="<%= items.measurement[i] %>"></td>
                    <td><input type="text" name="item" value="<%= items.item[i] %>"></td>
                    <td>
                        <button type="button" id="deleteItem" onclick="deleteOneItem('<%= i %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <button type="button" id="newItem" onclick="addNewItem()">Add New</button><br><br>

    <input type="submit" value="Edit">
</form>


</main>

<%- include('../partials/footer.ejs') %>

</body>

</html>